<header class="bg-dark py-5">
  <div class="container px-4 px-lg-5 my-5">
    <div class="text-center text-white">
      <h1 class="display-4 fw-bolder">ユーザーログイン</h1>
      <p class="lead fw-normal text-white-50 mb-0">User Login</p>
    </div>
  </div>
</header>
<div class="wrapper">
  <div class="container">
    <%= form_with scope: :session, local: true do |f| %>
      <div>
        <%= f.label :email, "メールアドレス" %>
      </div>
      <div>
        <%= f.email_field :email, class: "form-box" %>
      </div>
      <div>
        <%= f.label :password, "パスワード" %>
      </div>
      <div>
        <%= f.password_field :password, class: "form-box" %>
      </div>
      <div>
        <%= f.submit "ログイン", class: "btn btn-primary" %>
      </div>
    <% end %>
  </div>
</div>